.container{
    display: flex;
    gap:100px;
    align-items: center;
}


@media screen and (max-width:768px){
    .container{
        flex-direction: column;
    }
}

.wrapper{
    width: 500px;
    background-color: var(--bdSoft);
    padding: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    border-radius: 5px;

}